/* Wrapper */
.scanner-wrapper {
	margin: 1.5em 0;
}

/* Scan info */
.scan-info {
	float: right;
	margin-top: 8px;
	text-align: right;
}
	.scan-info span {
		font-size: 16px;
	}
	.scan-info .theme-name {
		font-weight: bold;
	}
	.scan-info form {
		margin-top: 12px;
	}

/* Scan Report */
.scan-report {
	margin-bottom: 1em;
}
.scan-results {
	display: inline-block;
	padding: 8px 10px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
	.result-pass {
		background: #27ae60;
	}
	.result-fail {
		background: #e74c3c;
	}
	
/* Results Table */
.scan-results-table {
	margin: 6px 0;
	color: #666;
}
	.scan-results-table th,
	.scan-results-table td {
		padding: 3px 5px;
		text-align: left;
	}
		.scan-results-table th {
			font-weight: normal;
		}
		.scan-results-table td {
			text-align: right;
		}

/* Results List */
.scan-results-list {
	list-style: none;
	margin: 1em 0;
}
	.scan-results-list li {
		padding: 10px;
		background: #fbfbfb;
		border-left: 4px solid #eee;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	}
		.scan-results-list li.scan-result-blocker {
			border-left-color: #e74c3c;
		}
		.scan-results-list li.scan-result-warning {
			border-left-color: #e67e22;
		}
		.scan-results-list li.scan-result-required {
			border-left-color: #f1c40f;
		}
		.scan-results-list li.scan-result-recommended {
			border-left-color: #7f8c8d;
		}
		.scan-results-list li.scan-result-note {
			border-left-color: #bdc3c7;
		}
		.scan-results-list li.scan-result-info {
			border-left-color: #95a5a6;
		}
	
.scan-file {
	float: right;
	font-family: "Courier New", Courier, monospace;
}
.scan-lines {
	clear: both;
	margin-top: .65em;
	color: #666;
	overflow: auto;
}
	.scan-line {
		margin-bottom: .25em;
	}
	.scan-line .syntaxhighlighter {
		background-color: #f7f9fe !important;
		padding: .5em 0;
	}
	.scan-line .syntaxhighlighter .line,
	.scan-line .syntaxhighlighter .line.alt1,
	.scan-line .syntaxhighlighter .line.alt2 {
		background-color: #f7f9fe !important;
	}
	.scan-line pre {
		margin: 0;
	}


/* Export */
.export-form textarea { width: 100%; height: 150px; resize: vertical; }
.required { padding: 10px; background: #DDD; }
.require-label { color: #e74c3c; }

/* MP6 Specifics */
.mp6 .scan-results,
.scan-info .theme-name {
	font-weight: 600;
}

/* Analyzer */
#analysis ul ul {
	margin-left: 30px;
}