# Files we want to ignore
*.svn/
*Thumbs.db
*.un~
*.swp
*.swo
*.idea

#############
# OSX Ignores
#############
# stolen from https://github.com/github/gitignore/blob/master/Global/OSX.gitignore

.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
